<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adiciona Desempregado</title>
    <link rel="stylesheet" href="../static/css/styles1.css" />
  </head>
  <body>
    <div class="form-container">
      <h1>Adiciona Desempregado</h1>
      <form id="desempregadoForm">
        <input type="text" id="nome" name="nome" placeholder="Nome" required />
        <input
          type="text"
          id="idade"
          name="idade"
          placeholder="Idade"
          required
        />
        <input
          type="text"
          id="telefone"
          name="telefone"
          placeholder="Telefone"
          required
        />
        <input
          type="text"
          id="formacao"
          name="formacao"
          placeholder="Formação"
          required
        />
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          required
        />
        <button type="submit">Adicionar</button>
      </form>
    </div>
  </body>
</html>
