<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <link rel="stylesheet" href="../static/css/styles3.css" />
  </head>
  <body>
    <form class="form card" action="/login" method="POST">
      <div class="card_header">
        <h1 class="form_heading">Sign in</h1>
      </div>

      <!-- Exibição da mensagem se existir -->
      {% if message %}
      <p>{{ message }}</p>
      {% endif %}

      <div class="field">
        <label for="username">Username</label>
        <input
          class="input"
          name="username"
          type="text"
          placeholder="Username"
          id="username"
        />
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input
          class="input"
          name="password"
          type="password"
          placeholder="Password"
          id="password"
        />
      </div>
      <div class="field">
        <button class="button" type="submit">Login</button>
      </div>
    </form>
  </body>
</html>
