<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/produtos.css">
    <title>Gerenciamento de produtos</title>


</head>

<body>
    <div class="container">
        <h1>Produtos</h1>
        <div id="login-container">
            <button id="login-button">Login with Google</button>
        </div>
        <div id="content-container" style="display: none;">
            <button id="logout-button">Logout</button>
            <form id="add-product-form">
                <label for="name">Nome :</label>
                <input type="text" id="name" name="name" placeholder="Selecionar" required>

                <label for="price_6_slices">Preço 6 fatias:</label>
                <input type="number" id="price_6_slices" name="price_6_slices" placeholder="Selecionar" required>

                <label for="price_8_slices">Preço 8 fatias:</label>
                <input type="number" id="price_8_slices" name="price_8_slices" placeholder="Selecionar" required>

                <label for="price_12_slices">Preço 12 fatias:</label>
                <input type="number" id="price_12_slices" name="price_12_slices" placeholder="Selecionar" required>

                <button type="submit">Adicionar Produtos</button>
            </form>

            <h2>Lista de produtos</h2>
            <table id="product-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Product rows will be added here dynamically -->
                </tbody>
            </table>

            <div class="modal" id="update-product-modal">
                <h2>Editar Produtos</h2>
                <form id="update-product-form">
                    <input type="hidden" id="update-product-id">
                    <label for="update-name">Nome:</label>
                    <input type="text" id="update-name" name="name" required>

                    <label for="update-price_6_slices">Preço 6 fatias:</label>
                    <input type="number" id="update-price_6_slices" name="price_6_slices" required>

                    <label for="update-price_8_slices">Preço 8 fatias:</label>
                    <input type="number" id="update-price_8_slices" name="price_8_slices" required>

                    <label for="update-price_12_slices">Preço 12 fatias:</label>
                    <input type="number" id="update-price_12_slices" name="price_12_slices" required>

                    <button type="submit">Confirmar</button>
                    <button type="button" onclick="closeUpdateModal()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/9.20.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.20.0/firebase-auth-compat.js"></script>
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyAH-VV4HPr198aYhLL5bOHrEK-KCcNrgRA",
            authDomain: "crosta-crocante.firebaseapp.com",
            projectId: "crosta-crocante",
            storageBucket: "crosta-crocante.appspot.com",
            messagingSenderId: "808538059667",
            appId: "1:808538059667:web:991784909dfd026af42e66",
            measurementId: "G-FDFYQ8KDFD"
        };

        firebase.initializeApp(firebaseConfig);

        function signInWithGoogle() {
            const provider = new firebase.auth.GoogleAuthProvider();
            firebase.auth().signInWithPopup(provider)
                .then(result => {
                    const user = result.user;
                    sessionStorage.setItem('userEmail', user.email);
                    document.getElementById('login-container').style.display = 'none';
                    document.getElementById('content-container').style.display = 'block';
                    loadProducts();
                })
                .catch(error => console.error("Error:", error.code, error.message));
        }

        function signOut() {
            firebase.auth().signOut().then(() => {
                sessionStorage.removeItem('userEmail');
                document.getElementById('login-container').style.display = 'block';
                document.getElementById('content-container').style.display = 'none';
            }).catch(error => console.error('Error signing out:', error));
        }

        firebase.auth().onAuthStateChanged(user => {
            if (user && sessionStorage.getItem('userEmail')) {
                document.getElementById('login-container').style.display = 'none';
                document.getElementById('content-container').style.display = 'block';
                loadProducts();
            } else {
                document.getElementById('login-container').style.display = 'block';
                document.getElementById('content-container').style.display = 'none';
            }
        });

        document.getElementById('login-button').addEventListener('click', signInWithGoogle);
        document.getElementById('logout-button').addEventListener('click', signOut);

        document.getElementById('add-product-form').addEventListener('submit', function (event) {
            event.preventDefault();
            const name = document.getElementById('name').value;
            const price_6_slices = document.getElementById('price_6_slices').value;
            const price_8_slices = document.getElementById('price_8_slices').value;
            const price_12_slices = document.getElementById('price_12_slices').value;

            fetch('https://pizza-python.vercel.app/api/products', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ name, price_6_slices, price_8_slices, price_12_slices }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Product added successfully');
                        loadProducts();
                    } else {
                        alert('Error adding product');
                    }
                })
                .catch(error => console.error('Error:', error));
        });

        function loadProducts() {
            fetch('https://pizza-python.vercel.app/api/products') 
                .then(response => response.json())
                .then(data => {
                    const productTableBody = document.getElementById('product-table').getElementsByTagName('tbody')[0];
                    productTableBody.innerHTML = '';
                    data.forEach(product => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${product.name}</td>
                            <td>
                                6 fatias: ${product.price_6_slices}<br>
                                8 fatias: ${product.price_8_slices}<br>
                                12 fatias: ${product.price_12_slices}
                            </td>
                            <td>
                                <button onclick="deleteProduct('${product.id}')">Apagar</button>
                                <button onclick="openUpdateModal('${product.id}', '${product.name}', ${product.price_6_slices}, ${product.price_8_slices}, ${product.price_12_slices})">Editar</button>
                            </td>
                        `;
                        productTableBody.appendChild(row);
                    });
                })
                .catch(error => console.error('Error:', error));
        }

        function deleteProduct(productId) {
            fetch(`https://pizza-python.vercel.app/api/products/${productId}`, { method: 'DELETE' })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Product deleted successfully');
                        loadProducts();
                    } else {
                        alert('Error deleting product');
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function openUpdateModal(productId, name, price_6_slices, price_8_slices, price_12_slices) {
            document.getElementById('update-product-id').value = productId;
            document.getElementById('update-name').value = name;
            document.getElementById('update-price_6_slices').value = price_6_slices;
            document.getElementById('update-price_8_slices').value = price_8_slices;
            document.getElementById('update-price_12_slices').value = price_12_slices;
            document.getElementById('update-product-modal').classList.add('active');
        }

        function closeUpdateModal() {
            document.getElementById('update-product-modal').classList.remove('active');
        }

        document.getElementById('update-product-form').addEventListener('submit', function (event) {
            event.preventDefault();
            const productId = document.getElementById('update-product-id').value;
            const name = document.getElementById('update-name').value;
            const price_6_slices = document.getElementById('update-price_6_slices').value;
            const price_8_slices = document.getElementById('update-price_8_slices').value;
            const price_12_slices = document.getElementById('update-price_12_slices').value;

            fetch(`https://pizza-python.vercel.app/api/products/${productId}`, {
                method: 'PUT',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ name, price_6_slices, price_8_slices, price_12_slices }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Product updated successfully');
                        closeUpdateModal();
                        loadProducts();
                    } else {
                        alert('Error updating product');
                    }
                })
                .catch(error => console.error('Error:', error));
        });

        window.onload = () => {
            if (sessionStorage.getItem('userEmail')) {
                document.getElementById('login-container').style.display = 'none';
                document.getElementById('content-container').style.display = 'block';
                loadProducts();
            } else {
                document.getElementById('login-container').style.display = 'block';
                document.getElementById('content-container').style.display = 'none';
            }
        };
    </script>
</body>


</html>